body {
  background: linear-gradient(90deg, #66c3d3, #a533b4);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1360px;
  text-align: center;
}

/* Mostra as mensagens ao passar o mouse sobre os tópicos */
.topic:hover ~ .message {
  display: block;
}

h1 {
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
}

ul {
  margin-top: 50px;
  list-style: none;
}

.topic {
  display: flow-root;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #dbc24b;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  transition: background-color 1.0s;
}

.topic:hover {
  background-color: #007bff29;
  color: #dbc24b;
}

.message {
  display: none;
  padding: 20px;
  background-color: #1b8f8c;
  color: #dddacf;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.message {
  display: none;
  padding: 20px;
  background-color: #1b8f8c;
  color: #dddacf;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s; /* Prefixo para navegadores WebKit */
  -moz-transition: transform 0.2s; /* Prefixo para navegadores Gecko (Firefox) */
  -ms-transition: transform 0.2s; /* Prefixo para navegadores Microsoft (IE/Edge) */
  -o-transition: transform 0.2s; /* Prefixo para navegadores Opera */
}
