/*primeira tela*/
body {
  background-image: url("backgroud.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1360px;
  margin: 0;
  padding: 0;

}
.content {
  text-align: center;
  padding: 50px;
  margin-top: 20%;
  border-radius: 10px;
}
h1 {
  font-size: 3em;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px #000;
}
.cabeçalho{
  position: relative;
  text-align: right;
}
  menu {
  position: absolute;
  z-index: 2;
  left: 900px;
  top:0px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

  ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

  menu li {
  list-style: none;
  margin: 0 10px;
}

  a {
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 27px;
  text-align: right;
  color: #f1f1f1;
}

  a:hover {
  color: #000;
}
  .logo { 
  position: absolute;
}

  /* Botão "Teste" */
  .button {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 17px;
    gap: 10px;
    position: absolute;
    width: 260px;
    height: 52px;
    left: 500px;
    top: calc(50% - 52px/2 + 185px);
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
  }
      /* Botão "dicas" */
      .button2 {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 17px;
        gap: 10px;
        position: absolute;
        width: 100px;
        height: 52px;
        left: 800px;
        top: calc(50% - 52px/2 + 185px);
        background:#000000;
        border: 1px solid #000000;
        border-radius: 36px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color: #FFFFFF;
    }
     /* A melhor maneira de ter */
  .center-text {
    position: absolute;
    width: 777px;
    height: 76px;
    left: calc(50% - 777px/2 + 0.5px);
    top: 100px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 76px;
    
    /* identical to box height, or 108% */
    text-align: center;
    letter-spacing: 0.68px;
    color: #FFFFFF;
    font-family: 'Abhaya Libre';
  }
  /* Uma ferramenta gratuita para que todos tenham a capacidade de se proteger. Segurança nunca é demais. */
  .infer-texte{
    position: absolute;
    width: 662px;
    height: 55px;
    left: calc(50% - 677px/2 + 0.5px);
    top: 350px;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size:9px;
    line-height: 27px;
    /* or 130% */
    text-align: center;
    color: #FFFFFF;
  }