/*Estilo do fundo*/
body {
  background-image: linear-gradient(90deg, #66c3d3, #a533b4);
}

/* Estilos para o cabeçalho */
.cabeçalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para a logo */
.Logo {
  float: left;
  margin-right: 20px;
}

/* Estilos para o menu */
menu {
  text-align: left;
  font-family: 'Estrangelo Adessa', sans-serif;
  color: #FFFFFF;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Estrangelo Adessa', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #66c3d3;

}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  background-color: #fff;
  color: #66c3d3;
}

nav ul li:first-child {
  margin-left: 0;
  font-family: 'Estrangelo Adessa', sans-serif;
  color: #FFFFFF;
}
/* Estilos para o conteúdo da página */
.conteiner {
  min-height: 100vh; /* garante que o conteúdo ocupe toda a altura da página */
  padding-bottom: 100px; /* garante que o conteúdo não fique atrás do rodapé */
  
}
.conteiner {
  /* outros estilos aqui */
  text-align: center;
  font-family: 'Estrangelo Adessa', sans-serif;
  color: #FFFFFF;
}

.infer-texte, .center-text, .button, .button2 {
  text-align: center;
}
.button, .button2 {
  background-color: #1B8F8C;
  color: #DBC24B;
  font-family: 'Estrangelo Adessa', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  text-shadow: 2px 2px #423d21;
}
a.button:hover, a.button2:hover {
  background-color: #0062cc;
  font-family: 'Estrangelo Adessa', sans-serif;
}   


/* Estilos para o rodapé */
.rodapé {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #333;
  color: #e4e019;
  margin: 0;
  text-align: center;
}