body {
  background: linear-gradient(90deg, #66c3d3, #a533b4);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1360px;
  text-align: center;
    
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
  }
  
  h1 {
    color: #66c3d3;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    color: #a533b4;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
  }
  
  p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  button {
    background-color: #a533b4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #66c3d3;
  }
  .quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .questions {
    width: 80%;
    margin-bottom: 2rem;
  }
  .button {
    background-color: #4CAF50; /* cor de fundo verde */
    color: white; /* cor do texto branco */
    padding: 10px 20px; /* espaçamento interno */
    text-align: center; /* centralizar o texto */
    text-decoration: none; /* remover sublinhado */
    display: inline-block; /* exibir como bloco */
    font-size: 16px; /* tamanho da fonte */
    border-radius: 5px; /* borda arredondada */
    border: none; /* remover borda */
  }
  
  
