body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(90deg, #66c3d3, #a533b4);
  }
  h1 {
    color: #fff;
  }
  p {
    color: #fff;
  }
  ul {
    list-style-type: disc;
    color: #fff;
    margin-left: 20px;
  }